{% extends "components/base.html" %}

{% block content %}

<h1>{{title}}</h1>

<form method="post" >
    {% csrf_token %}

        <table>
            <thead>
                <tr>
                    <th>Component</th>
                    <th>In stock</th>
                    <th>Amount need</th>
                </tr>
            </thead>
            <tbody>
                {% for i in info %}
                <tr>
                    <td>{{ i.comp_name }}</td>
                    <td>{{ i.in_stock }}</td>
                    <td>{{ i.amount_need }}</td>
                    <td>{{ i.amount }}</td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Обновить данные</button>
</form>

{% endblock %}