body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Стили для навигационной панели */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

nav a:hover {
    color: #ff9900;
}

/* Стили для основного содержимого страницы */
main {
    padding: 20px;
}

/* Стили для футера */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.menu ul li{
    display: inline;
    list-style: none;
}